/*Set background for whole page. Set font for all text on page*/
body{
    font-family: Ubuntu;
    color: white;
    /*background-color: #00004d;*/
    background-image: url("http://il3.picdn.net/shutterstock/videos/598447/thumb/1.jpg?i10c=img.resize(height:160)");
    background-size: cover;
}

/*Style for Header "Joe Christiansen"*/
h1{
    font-size: 30;
    text-align: center;
    border-style: solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: rgb(0,0,0);
    /*position: fixed;*/
}
/*assign the fall animation*/
h1{
    animation: fall_h1 5s;
}

/*Contact*/
/*Style all of the "Contact" section*/
.contact{
    text-align: left;
    font-size: 15;
    border-style: solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.1);
    transition: .5s ease-in-out;
}
.contact:hover{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.5);
}
/*assign the fall animation*/
.contact{
    animation: fall_contact 5s;
}
/*Style the "Contact :" header*/
h2{
    margin-top: 0px;
    font-size: 20;
    border-bottom-style: solid;
    padding-bottom: 10px;
    padding-left: 10px;
}
/*Style the text in the Contact box*/
.info{
    list-style: none;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    margin-top: -10px;
    margin-bottom: 0px;
} 

/*Bio*/
/*Style all of the "Bio" section*/
.bio{
    text-align: left;
    font-size: 15;
    border-style: solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.1);
    transition: .5s ease-in-out;
}
.bio:hover{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.5);
}
/*assign the fall animation*/
.bio{
    animation: fall_bio 5s;
}
/*Style the "Bio :" header*/
h3{
    margin-top: 0px;
    font-size: 20;
    border-bottom-style: solid;
    padding-bottom: 10px;
    padding-left: 10px;
}
/*Style the text in the Bio box*/
.hello{
    padding-left: 10px;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-right: 10px;
}

/*Hobbies*/
/*Style all of the "Hobbies" section*/
.hobbies{
    text-align: left;
    font-size: 15;
    border-style: solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.1);
    transition: .5s ease-in-out;
}
.hobbies:hover{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.5);
}
/*assign the fall animation*/
.hobbies{
    animation: fall_hobbies 5s;
}
/*Style the "Hobbies :" header*/
h4{
    margin-top: 0px;
    font-size: 20;
    border-bottom-style: solid;
    padding-bottom: 10px;
    padding-left: 10px;
}
/*Style the text in the Hobbies box*/
.hobbiesList{
    list-style: square;
    padding-left: 30px;
    margin-top: -10px;
    margin-bottom: 0px;

}


/*Fall Animations*/
@keyframes fall_h1 {
    0% { transform: translateY(-46px); }
    100% {transform: translateY(0px);}
}
@keyframes fall_contact {
    0% { transform: translateY(-181px); }
    100% {transform: translateY(0px);}
}
@keyframes fall_bio {
    0% { transform: translateY(-320px); }
    100% {transform: translateY(0px);}
}
@keyframes fall_hobbies {
    0% { transform: translateY(-570px); }
    100% {transform: translateY(0px);}
}